* {
    margin: 0;
    padding: 0;
}

#game-screen {
    position: relative;
    overflow: hidden;

}

img {
    width: 100%;
}

#start-button {
    display: block;
    margin: 0 auto;
    width: 11vw;
    height: 7vh;
    background-color: rgb(203, 203, 203);
    border-radius: 7px;
    font-size: 33px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(22, 173, 255);
}

h1 {
    display: block;
    margin: 0 auto;
    width: 80vh;
    height: 40vh;
    margin-top: 0.5%;
}

body {
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}